@using SportsStore.Domain.Entities

@model SportsStore.WebUI.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = "List";
}

<h2>List N</h2>

<h3>@(Model.Products.Count())</h3>

<div class="products-list">
    @foreach (var item in Model.Products)
    {
        <div>
            <h3>@item.Name</h3>
            @item.Description
            <h4>@item.Price.ToString("c")</h4>
        </div>
    }
</div>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }));
</div>